# Zetti
ZETTI_API_BASE=https://demo.zetti.com.ar/api-rest
ZETTI_OAUTH_BASE=https://demo.zetti.com.ar/oauth-server
ZETTI_CLIENT_ID=
ZETTI_CLIENT_SECRET=
ZETTI_USERNAME=
ZETTI_PASSWORD=
ZETTI_NODE_GRUPO=
ZETTI_NODE_FARMACIA=
ZETTI_GROUP_IDS=2
ZETTI_PAGE_SIZE=500
ZETTI_RATE_LIMIT_QPS=8

NODE_ENV=development
PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ecom_farmacia
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecom_farmacia

REDIS_HOST=localhost
REDIS_PORT=6379

MP_ACCESS_TOKEN=your_mp_access_token
AFIP_CUIT=00000000000
AFIP_CERT_PATH=./certs/cert.crt
AFIP_KEY_PATH=./certs/key.key


