NODE_ENV=development
PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ecom_farmacia
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecom_farmacia

REDIS_HOST=localhost
REDIS_PORT=6379

MP_ACCESS_TOKEN=your_mp_access_token
AFIP_CUIT=00000000000
AFIP_CERT_PATH=./certs/cert.crt
AFIP_KEY_PATH=./certs/key.key


